<button [disabled]="desactivado">Titulo</button>
<button (click)="desactivado=!desactivado">Cambiar desactivado</button>

<input type="text" [(ngModel)]="titulo" (ngModelChange)="log($event)">
<h4>Tu nombre es: {{titulo}}</h4>

<select [(ngModel)]="seleccion">
  <option value="Audi">Audi</option>
  <option value="Mercedes">Mercedes</option>
  <option value="Mazda">Mazda</option>
</select>

<h4>Marca seleccionada: {{seleccion}}</h4>

<select [value]="seleccion" (change)="seleccion = $event.target.value">
  <option value="Honda">Honda</option>
  <option value="Toyota">Toyota</option>
  <option value="Nissan">Nissan</option>
</select>

