
<app-user></app-user>

<app-lista></app-lista>
<br>
<br>
<app-consulta></app-consulta>
<br>
<br>
<h2>@Input y @Output</h2>
<!-- borrar desde el padre -->
<!-- <app-user2 [data]="user2" (borrar)="borrarUsuario($event)" *ngFor="let user2 of usuarios"></app-user2> -->
<!-- <app-user2 [data]="user2" *ngFor="let user2 of usuarios"></app-user2> -->
<br>
<br>
<h2>Formularios</h2>
<form [formGroup]="signupForm" (ngSubmit)="enviar(signupForm.value)">
  <label for="">Nombre:</label>
  <input formControlName="nombre" type="text">
  <br/>
  <label for="">Usuario:</label>
  <input formControlName="usuario" type="text">
  <br/>
  <label for="">Email:</label>
  <input formControlName="email" type="text">
  <div *ngIf="signupForm.get('email').hasError('email') && signupForm.get('email').touched">Email necesario</div>
  <br/>
  <label for="">Contraseña:</label>
  <input formControlName="password" type="password">
  <br/>
  <button [disabled]="signupForm.invalid" type="submit">Registrarse</button>
</form>


<div>
  <h2>Directiva</h2>
  <!-- <span [Example]=true>{{title}}</span> -->
  <!-- <span Example>{{title}}</span> -->
  <span Example underline="true" color="blue">{{title}}</span>
</div>


<div>
  <h2>PIPES</h2>

  <h3>pipe simple: (uppercase)</h3>
  <div>{{ lista[0].nombre | uppercase }}</div>

  <h3>pipe normal: (ordenar)</h3>
  <ul>
    <li *ngFor="let pelicula  of lista | sort">ID: {{ pelicula.id}}, Nombre: {{pelicula.nombre}}, Precio: {{pelicula.precio}}</li>
  </ul>

  <h3>pipe complejo:(ordenar con parametro)</h3>
  <ul>
    <li *ngFor="let pelicula  of lista | sortby:true">ID: {{ pelicula.id}}, Nombre: {{pelicula.nombre}}, Precio: {{pelicula.precio}}</li>
  </ul>

</div>

<div>
  <h2>PAGINACION</h2>
  <mat-paginator [length]="datos.length" [pageSize]="page_size" [pageSizeOptions]="pageSizeOptions" (page)="handlePage($event)" showFirstLastButtons>
  </mat-paginator>
  <ul>
    <li *ngFor="let user of datos | paginate:page_size:page_number">
      <ul>
        <li *ngFor="let prop of user | keyvalue">
          {{ prop.key }}: {{ prop.value }}
        </li>
      </ul>
      <br>
      <br>
    </li>
  </ul>
</div>
